# Название приложения
APP_NAME=auth-service
# Название окружения, в котором работает приложение
ENV=local

# Секретный ключ для генерации токенов доступа JWT
JWT_SECRET=
# Алгоритм, который используется для генерации токенов JWT
JWT_ALG=HS256
# Время действия токена доступа (в минутах)
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Путь к файлу с базой данных SQLite
SQLITE_PATH=./auth.db
