# Название приложения
APP_NAME=bot-service
# Название окружения, в котором работает приложение
ENV=local

# Токен Telegram-бота (@BotFather)
TELEGRAM_BOT_TOKEN=

# Секретный ключ для проверки токенов доступа JWT
JWT_SECRET=change_me_super_secret
# Алгоритм, который используется для проверки токенов JWT
JWT_ALG=HS256

# Строка подключения к Redis и RabbitMQ
REDIS_URL=redis://redis:6379/0
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672//

# Ключ доступа к OpenRouter API
OPENROUTER_API_KEY=
# Базовый URL OpenRouter API
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
# Название модели, которая используется OpenRouter для генерации ответа
OPENROUTER_MODEL=stepfun/step-3.5-flash:free
# Публичный URL развёрнутого приложения (если есть)
OPENROUTER_SITE_URL=https://example.com
# Название приложения, которое обращается к OpenRouter API
OPENROUTER_APP_NAME=bot-service
